/** ESTILOS PARA CONTENEDOR DE FOTOGRAFIAS ***/

.contenedorAlbumPadre {
    margin: 0 auto;
}

.contenedorAlbum {
    width:25%;
    /*margin: 0 auto;*/
    border: 0px dotted black; 
}

.contenedorFoto {
    margin: 0 auto;
    text-align: center;    
}

.botoneraAlbum {
    width:60%;
    height: 25px;
    text-align: right;
    margin: 0 auto;
}


.idFoto {
    font-size:10pt;
    margin: 0 auto;
    width: 60%;
    text-align: left;
}

.nombreFoto {
    font-size: 12pt;
    width:60%;
    margin: 0 auto;
    text-align: left;
}

.pieFoto {
    /*border: 1px solid red;*/
    height: 150px;
    width: 200px;
    margin: 0 auto;
}
