/* Smartphones (portrait) */
@media only screen and (max-device-width : 444px) and (orientation : portrait){

    .contenedorAlbum{
       border: 1px solid red;
       float: right;
       width: 100%;
    }

   
    .botoneraAlbum {
        width:52%;
    }

    .idFoto {
        text-align:left;
    }
    
    .nombreFoto {
        text-align:left;
    }    
}


/* Smartphones (landscape) */
    @media only screen and (orientation : landscape) and (max-device-width : 915px) {    

    .contenedorAlbum{
       border: 1px solid blueviolet;
       float: left;
       width: 40%;
       text-align: left;
    }


    .contenedorFoto {
       
        border: 1px solid blue;
    }
   
    .botoneraAlbum {
        width:52%;
    }

    .idFoto {
        text-align:left;
    }
    
    .nombreFoto {
        text-align:left;
    }    
}

