/** ESTILOS PARA CONTENEDOR DE FOTOGRAFIAS ***/

.contenedorAlbumPadre {
    margin: 0 auto;
}

.contenedorAlbum {
    width:25%;
    /*margin: 0 auto;*/
    border: 1px dotted black; 
}

.contenedorFoto {
    margin: 0 auto;
    text-align: center;    
}

.botoneraAlbum {
    width:60%;
    height: 25px;
    text-align: right;
    margin: 0 auto;
}


.idFoto {
    font-size:10pt;
    margin: 0 auto;
    width: 60%;
    text-align: left;
}

.nombreFoto {
    font-size: 12pt;
    width:60%;
    margin: 0 auto;
    text-align: left;
}

.pieFoto {
    /*border: 1px solid red;*/
    height: 150px;
    width: 200px;
    margin: 0 auto;
}

/** Estilos para dispositivos móviles */



    
/* Smartphones (portrait) 
@media only screen and (max-device-width : 444px) and (orientation : portrait){

    .contenedorAlbum{
       border: 1px solid red;
       float: right;
       width: 100%;
    }

   
    .botoneraAlbum {
        width:52%;
    }

    .idFoto {
        text-align:left;
    }
    
    .nombreFoto {
        text-align:left;
    }    
}

*/

/* Smartphones (landscape) 
@media only screen and (orientation : landscape) and (max-device-width : 667px) {

    .contenedorAlbum{
       border: 1px solid blueviolet;
       float: left;
       width: 40%;
       text-align: left;
    }


    .contenedorFoto {
       
        border: 1px solid blue;
    }
   
    .botoneraAlbum {
        width:52%;
    }

    .idFoto {
        text-align:left;
    }
    
    .nombreFoto {
        text-align:left;
    }    
}
*/


/* Tablets (portrait) 
@media only screen and (orientation : portrait) and (max-device-width : 810px){

    .contenedorAlbum{
       border: 1px solid yellowgreen;
       float: right;
       width: 50%;
    }

   
    .botoneraAlbum {
        width:52%;
    }

    .idFoto {
        text-align:left;
    }
    
    .nombreFoto {
        text-align:left;
    }    
}
*/

