/** ESTILOS PARA CONTENEDOR DE FOTOGRAFIAS ***/
.contenedorAlbum {
    width:30%;
    margin: 0 auto;
    
}

.contenedorFoto {
    margin: 0 auto;
    text-align: center;    
   /* border: 1px solid blue;*/
}

.botoneraAlbum {
    width:60%;
    height: 25px;
    text-align: right;
    margin: 0 auto;
}


.idFoto {
    font-size:10pt;
    margin: 0 auto;
    width: 60%;
    text-align: left;
}

.nombreFoto {
    font-size: 12pt;
    width:60%;
    margin: 0 auto;
    text-align: left;
}

.pieFoto {
    /*border: 1px solid red;*/
    height: 150px;
    width: 200px;
    margin: 0 auto;
}

/** Estilos para dispositivos móviles */


@media screen and (max-width: 915px) {
    .contenedorAlbum{
       float: right;
       width: 100%;
    }

   
    .botoneraAlbum {
        width:52%;
    }

    .idFoto {
       /* width: 52%; */
        text-align:left;
    }
    
    .nombreFoto {
        /*width:52%;*/
        text-align:left;
    }
    
}



/** Estilos para dispositivos iPad */

@media (min-height: 820px) and (max-width:1180px){
    .contenedorAlbum{
       float: right;
       width: 30%;
    }

   
    .botoneraAlbum {
        width:52%;
    }

    .idFoto {
       /* width: 52%; */
        text-align:left;
    }
    
    .nombreFoto {
        /*width:52%;*/
        text-align:left;
    }
    
}